/* Webfont: ProtoMono-Light */@font-face {
    font-family: 'ProtoMonoLight';
    src: url('ProtoMono-Light.eot'); /* IE9 Compat Modes */
    src: url('ProtoMono-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ProtoMono-Light.woff') format('woff'), /* Modern Browsers */
         url('ProtoMono-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('ProtoMono-Light.svg#ProtoMono-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

