/* Webfont: ProtoMono-MediumShadow */@font-face {
    font-family: 'ProtoMonoMedShadow';
    src: url('ProtoMono-MediumShadow.eot'); /* IE9 Compat Modes */
    src: url('ProtoMono-MediumShadow.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ProtoMono-MediumShadow.woff') format('woff'), /* Modern Browsers */
         url('ProtoMono-MediumShadow.ttf') format('truetype'), /* Safari, Android, iOS */
         url('ProtoMono-MediumShadow.svg#ProtoMono-MediumShadow') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

